<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Management</title>
</head>
<body>
<div class="container">
  <h3>Update Student</h3>

  <form action="#" th:action="@{/students/updateStudent}" th:object="${student}" method="POST">
    <input type="hidden" th:field="*{id}"
           placeholder="Student Id" class="form-control mb-4 col-4">

    <input type="text" th:field="*{name}"
           placeholder="Student Name" class="form-control mb-4 col-4">

    <input type="text" th:field="*{email}"
           placeholder="Student Email" class="form-control mb-4 col-4">

    <input type="text" th:field="*{phone}"
           placeholder="Student Phone" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Update Student</button>
  </form>

  <hr>

  <a th:href="@{/students}"> Back to Student List</a>
</div>
</body>
</html>